/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font-family), Arial, Verdana, Tahoma, sans-serif;
  font-size: var(--main-text-size);
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  line-height: 1.3em;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
  font-weight: bold;
}

.main-heading {
  font-size: var(--heading-font-size);
  line-height: 82.5%;
  color: var(--main-heading-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header {
  display: grid;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--page-gap);
}

.header__decor {
  position: absolute;
  top: var(--page-gap);
  right: var(--page-gap);
}

.decorated-zone::before {
  content: " ";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  bottom: var(--page-gap);
  left: var(--page-gap);
  border-block-end: 1px solid var(--heading-color);
  border-inline-start: 1px solid var(--heading-color);
}

.decorated-zone::after {
  content: " ";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  top: var(--page-gap);
  right: var(--page-gap);
  border-block-start: 1px solid var(--heading-color);
  border-inline-end: 1px solid var(--heading-color);
}

.header__decor::before {
  position: absolute;
  content: "rec";
  font-family: var(--main-font-family), Arial, Verdana, Tahoma, sans-serif;
  text-transform: uppercase;
  color: var(--accent-color);
  line-height: 25px;
  top: 0;
  right: 28px;
}

.header__decor::after {
  position: absolute;
  content: " ";
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  top: 8px;
  right: 9px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--heading-color);
}

.header__theme-menu-button {
  text-transform: lowercase;
  padding: 0px 13px 2px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--heading-color);
  margin-block-end: -1px;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: 1px solid color-mix(in srgb, var(--heading-color) 40%, transparent);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--heading-color);
  pointer-events: none;
}

.header__description {
  align-self: center;
}

.main {
  display: grid;
  padding: var(--main-gap) var(--page-gap);
  gap: var(--section-gap);
}

.section__text {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--title-gap);
}

.section__text-heading {
  color: var(--heading-color);
  font-size: var(--main-text-size);
}

.section__text-subheading {
  font-size: var(--main-text-size);
}

.section__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__article__title {
  font-weight: normal;
  font-size: var(--main-text-size);
}

.section__article-block__default {
  display: grid;
  row-gap: var(--title-gap);
}

.section__article-block {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--title-gap);
}

.section__article-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.section__article-link:hover {
  border-block-end: 1px solid;
}

.section__article-link:focus {
  outline: none;
}

.section__article-link:focus-visible {
  outline: 1px solid;
}

.section__gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--page-gap);
}

.section__gallery-heading {
  font-size: var(--main-text-size);
}

.section__gallery-img {
  object-fit: cover;
  object-position: center;inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

.footer {
  display: grid;
  justify-items: center;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__heading {
  align-self: center;
}

@media (width >= 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
  }

  .header__title {
    grid-column: 1 / span 2;
    margin-inline-start: -20px;
  }

  .header__description {
    grid-column: 2 / 3;
  }

  .section__text {
    grid-template-columns: 1fr 2fr;
  }

  .section__text-heading {
    grid-column: 1 / 2;
  }

  .extended {
    grid-row: 1 / 3;
  }

  .section__article-block__default {
    grid-column: 2 / 3;
  }

  .section__article-block {
    grid-row: 2;
    grid-column: 1 / 3;
  }

  .section__gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__gallery-heading {
    grid-column: 1 / 4;
  }

  .section__gallery-img:nth-child(2) {
    grid-column: 1 / 3;
  }

  .section__gallery-img:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .section__gallery-img:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .section__gallery-img:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .section__gallery-img:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section__text {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__text-subheading {
    grid-column: 2 / 4;
  }

  .section__article-block__default {
    grid-column: 2 / 4;
  }

  .section__article-block {
    grid-column: 1 / 4;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--title-gap);
  }
}
